<div class="card card-body">
  <form>
    <div class="form-group">
      <!-- bind the input to the log.text property, two way data binding -->
      <input
        type="text"
        name="text"
        class="form-control"
        placeholder="Add a log..."
        [(ngModel)]="this.log.text"
      />
    </div>
    <input
      type="submit"
      value="Add Log"
      class="btn btn-light"
      [disabled]="!this.log.text"
      (click)="handleAddLog()"
    />
    <button type="button" class="btn btn-warning" [hidden]="!this.log.text">
      Clear
    </button>
  </form>
</div>
